.mainGame {
    position: relative;
    justify-content: center;
  }
  


  .main-notecard {
    width: 100%;
    height: auto;
    display: block;
  }
  

  .mainGame h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
  }
  
  .mainGame .synopsis {
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
  }
  
  .mainGame p {
    position: absolute;
    color: white;
    /* Add specific positioning for each paragraph */
  }
  
  .mainGame input[type="text"],
  .mainGame button.messageSend {
    position: absolute;
    /* Add specific positioning for the input and button */
  }
  